<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>rx-zj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6BAF375A1F04EC18008E1F39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BAF37731F04EC18008E1F39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BAF377E1F04EC18008E1F39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
